@model List<Booking>


<div class="d-flex justify-content-between align-items-center mt-4 mb-4">
    <h1 class="mb-0">Bookings:</h1>
    <a asp-controller="Bookings" asp-action="Add" class="btn btn-primary">+ New Booking</a>
</div>

<div class="d-flex flex-wrap gap-3">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Room</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Title</td>
                    <td>@booking.StartTime</td>
                    <td>@booking.EndTime</td>
                    <td>@booking.Room.Name</td>
                    <td>
                        <a asp-controller="Bookings" asp-action="Edit" asp-route-id="@booking.BookingId" class="btn btn-link">Edit</a>
                        <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@booking.BookingId" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>