@model RickAndMortyViewModel

<div class="text-center">
    <h2>@Model.Character.Name</h2>
    <img src="@Model.Character.Image" alt="@Model.Character.Name" style="max-width:200px"/>
    <p>Status: @Model.Character.Status</p>
    <p>Species: @Model.Character.Species</p>
    <p>Gender: @Model.Character.Gender</p>
</div>